# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# OSX
.DS_Store
.AppleDouble
.LSOverride


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


# TPFMM specific files
bin/*
project.cfg
source/repositories/
*/key.aes*
