<?xml version='1.0' encoding='UTF-8' ?>
<dialogs>
  <window id='#PB_Any' name='settings' text='Settings' minwidth='600' minheight='auto' flags='#PB_Window_SystemMenu | #PB_Window_Tool | #PB_Window_WindowCentered | #PB_Window_Invisible'>
    <vbox expand='item:1'>
      <panel name='panelSettings'>

        <tab text='General Settings'>
          <vbox expand='no'>
            <frame name='installationFrame' text='Transport Fever Installation Location'>
              <gridbox columns='2' colexpand='item:1' rowexpand='no'>
                <text name='installationTextSelect' text='Select path to Transport Fever' />
                <button name='installationAutodetect' text='Autodetect' />
                <string name='installationPath' text=' '/>
                <button name='installationBrowse' text='Browse' />
                <text name='installationTextStatus' text='' colspan='2' />
              </gridbox>
            </frame>
            <hbox expand='equal'>
              <frame name='backupFrame' text='Backup'>
                <vbox expand='no'>
                  <checkbox name='miscBackupAfterInstall' text=' ' />
                  <checkbox name='miscBackupBeforeUpdate' text=' ' />
                  <checkbox name='miscBackupBeforeUninstall' text=' ' />
                  <hbox>
                    <empty />
                    <button name='miscBackupFolderChange' text=' ' disabled='yes' />
                    <empty />
                  </hbox>
                </vbox>
              </frame>
              <vbox expand='no'>
                <frame name='languageFrame' text='Language'>
                  <combobox name='languageSelection' flags='#PB_ComboBox_Image' />
                </frame>
                <frame name='miscFrame' text='Miscellaneous'>
                  <vbox expand='no'>
                    <checkbox name='miscVersionCheck' text=' '/>
                  </vbox>
                </frame>
              </vbox>
            </hbox>

          </vbox>
        </tab>

        <tab text='Proxy Settings'>
          <vbox expand='no'>
            <checkbox name='proxyEnabled' text='Connect through proxy server' />
            <frame name='proxyFrame' text=' ' >
              <gridbox columns='2' colexpand='item:2' rowexpand='no'>
                <text name='proxyServerLabel' text='server' />
                <string name='proxyServer' text=' ' />
                <text name='proxyUserLabel' text='user' />
                <string name='proxyUser' text=' ' />
                <text name='proxyPasswordLabel' text='password' />
                <string name='proxyPassword' flags='#PB_String_Password' text=' ' />
              </gridbox>
            </frame>
          </vbox>
        </tab>

        <tab text='Desktop Integration'>
          <vbox expand='no'>
            <text name='integrateText' text=' ' />
            <checkbox name='integrateRegisterProtocol' text=' ' />
            <checkbox name='integrateRegisterContextMenu' text=' ' />
          </vbox>
        </tab>

<!--
        <tab text='Online Repositories'>
          <hbox expand='equal'>
            <vbox expand='item:1'>
              <listview name='repositoryList' />
              <hbox expand='item:2'>
                <button name='repositoryAdd' text='Add new Repository' disabled='yes' />
                <empty />
                <button name='repositoryRemove' text='Remove selected' disabled='yes' />
              </hbox>

            </vbox>
            <gridbox colexpand='item:2' rowexpand='item:3'>
              <text   name='repositoryNameLabel' />
              <string name='repositoryName' flags='#PB_String_ReadOnly' />
              <text   name='repositoryCuratorLabel' />
              <string name='repositoryCurator' flags='#PB_String_ReadOnly' />
              <text   name='repositoryDescriptionLabel' />
              <editor name='repositoryDescription' flags='#PB_Editor_ReadOnly|#PB_Editor_WordWrap' />
            </gridbox>
          </hbox>
        </tab>
-->

        <!--
          <tab text='Licenses'>
            <vbox expand='no'>

            </vbox>
          </tab>
        -->

      </panel>
      <hbox expand='equal'>
        <button name='cancel' text='Cancel' />
        <empty />
        <button name='save' text='Save' />
      </hbox>
    </vbox>
  </window>
</dialogs>
