<?xml version='1.0' encoding='UTF-8' ?>
<dialogs>
  <window id='#PB_Any' name='settings' text='Settings' minwidth='600' minheight='auto' flags='#PB_Window_ScreenCentered | #PB_Window_SystemMenu'>
    <vbox expand='item:1'>
      <panel name='panelSettings'>
      
        <tab text='General Settings'>
          <vbox expand='no'>
            <frame name='installationFrame' text='Transport Fever Installation Location'>
              <gridbox columns='2' colexpand='item:1' rowexpand='no'>
                <text name='installationTextSelect' text='Select path to Transport Fever' />
                <button name='installationAutodetect' text='Autodetect' />
                <string name='installationPath' />
                <button name='installationBrowse' text='Browse' />
                <text name='installationTextStatus' text='Path ok?' colspan='2' />
              </gridbox>
            </frame>
            <frame name='languageFrame' text='Language'>
              <combobox name='language' />
            </frame>
          </vbox>
        </tab>
        
        <tab text='Miscellaneous'>
          <vbox expand='no'>
            <frame name='onlineFrame' text='Online Repositories'>
            </frame>
            <frame name='miscFrame' text='Miscellaneous'>
              <vbox expand='no'>
                <checkbox name='miscWindowPosition' text='Remember Window Position' />
                <checkbox name='miscAutoBackup' text='Automatically backup mods after installation' />
              </vbox>
            </frame>
          </vbox>
        </tab>
        
      </panel>
      <hbox expand='equal'>
        <button text='Cancel' />
        <empty />
        <button text='Save' />
      </hbox>
    </vbox>
  </window>
</dialogs>
